@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding:0 ;
    font-family:'Noto Sans JP', sans-serif ;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(14, 120, 116);
  }

  /* Add a gray right border to all list items, except the last item (last-child) */
  
  li:last-child {
    border-right: none
  }
  
  li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(14, 119, 158);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: rgb(14, 119, 158);}

.dropdown:hover .dropdown-content {
  display: block;
}
 
body {
    background-image: url(../images/board-g5469254e4_1920.jpg);
}