* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body{

    background-color: rgb(181, 239, 239);

    font-family: 'Times New Roman', Times, serif;
}

header{
    background-size: cover;

  background-position: center;

  background-attachment: fixed;

  background-position: 80%;

  position: -webkit-sticky;
  
  position: sticky;

  top: 0;

  text-shadow: 0 0 10px rgba(0,0,0, 0.5);

  flex-wrap: wrap;

  justify-content: space-between;

  display: flex;

  padding: 20px 35px;

  background-color: #39a6b2;
}


header nav ul li{
   
        display: inline;
        
        flex-wrap: wrap;
        
        justify-content: space-between;
        
        align-items: center;
        
        list-style: none;

        font-size: 30px;

        padding: 7px 15px;

        text-decoration: none;
}

h2{
    top: 0;
    color: rgb(206, 105, 242);
    font-size: 40px;
    text-align: center;
    background-color: aqua;
    margin: 0 0 0 400px;
    text-align: justify;
    display: inline;
    }

section p{
    padding: 0px 400px 0 400px;
    font-size: 21px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
}

